TabView{background: #e8e7e7; font-size:16; tab-text-color: #FFFFFF; selected-tab-text-color: #ffba0c;}
TabView Label{font-size:18; color:#000000;}
TabView StackLayout, TabView GridLayout{padding:8;}
Label.traceDate{font-size:12;}